	<div class="col-sm-8 menu">  
    <ul>
    <li>
    <a>Angular js Experiment</a>
    </li>
   		 </ul>
   	 </div>
   	 
	<div class="col-sm-4 menu">  
    <ul>
        <li>
            <a href="#home">Home</a>
            <ul>
            </ul>
        </li>
        <li>
            <a href="#">Experiment</a>
              <ul>
                <li><a href="#client-management-system">Client Management</a></li>
                <li><a href="#us">Subnav Item</a></li>
              </ul>
       		</li>
   		 </ul>
   	 </div>
